<launch>
    <arg name="Pi" value="3.1415926"/>
    <node name="loa_node" pkg="lidar_obstacle_avoidance" type="loa_node" output="screen" respawn="false">
       
       
        <param name="scan_topic" type="string" value="/scan"/>

        <param name="num_of_area" type="int" value="3"/>


        <param name="area_1_min_ang"    type="double" value="-90"/>
        <param name="area_1_max_ang"      type="double" value="-60"/>
        <param name="area_1_max_range"    type="double" value="3"/>
        <param name="area_1_min_range"      type="double" value="1"/>
        <param name="area_1_filter_size"  type="int"    value="3"/>

        <param name="area_2_min_ang"    type="double" value="-40"/>
        <param name="area_2_max_ang"      type="double" value="0"/>
        <param name="area_2_max_range"    type="double" value="3"/>
        <param name="area_2_min_range"      type="double" value="1"/>
        <param name="area_2_filter_size"  type="int"    value="3"/>


        <param name="area_3_min_ang"    type="double" value="20"/>
        <param name="area_3_max_ang"      type="double" value="80"/>
        <param name="area_3_max_range"    type="double" value="3"/>
        <param name="area_3_min_range"      type="double" value="1"/>
        <param name="area_3_filter_size"  type="int"    value="3"/>

    </node>

    <!--ang to rad :rad =  PI/180 * ang -->
    <!--How to calculat the Yaw set -->
    <!-- Yaw = (max_ang + min_ang)/2 * (PI / 180) -->
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_range1" args="0.0 0.0 0.0 -1.309 0.0 0.0 /laser /range1 40"/>
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_range2" args="0.0 0.0 0.0 -0.349 0.0 0.0 /laser /range2 40"/>
    <node pkg="tf" type="static_transform_publisher" name="lidar_to_range3" args="0.0 0.0 0.0 0.873 0.0 0.0 /laser /range3 40"/>
</launch>
